/*
* Photo Gallery — Practice
* CSS Styles
*
* Start typing your code under these comments
*/

.container-gallery { 
    width: 100%; 
    /* max-width: 960px;  */
    /* margin: 0 auto;  */
} 

.photo {
    float: left; /* говорим элементам выстраиваться один за другим */
    /* width: 33.333333%; устанавливаем ширину элемента */
    width: 20%;  
    padding: 0px; /* добавляем отступы с каждой стороны */
    box-sizing: border-box;/*  меняем способ вычисления ширины */
    }
.photo img {
        /* display: block; */
        display: inline;
        max-width: 100%;
        height: auto;
        border: 10px solid #eee;
        box-sizing: border-box;
}
.photo a:hover {
    opacity: 0.5;
}
.photo a {
    display: block;
    position: relative;
}
.photo a:after {
        
        content: '';
        background: transparent url(../img/icons/eye-icon.png) no-repeat center;
        width: 52px;
        height: 35px;
        position: absolute;
        margin: auto;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
}
.photo:hover > a:after {
    visibility: visible;
}
.photo figcaption {
    font-style: oblique;
    font-size: 14px;
    color: #112063;
    text-align: center;
    margin-top: 10px;
}
/* body {
    font-family: 'Open Sans', sans-serif;
} */
#gallery:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    }
